a{
    text-decoration: none;
}
a:hover{
    cursor: pointer;
}
.navCustom{
    background-color: #50A3D9;
}
#activeLink{
    border-bottom: 5px solid  #236FA0;
}
#bannerMain{
    background-image: url('../img/backgroundBanner.jpg');
}
.shadowLow{
    text-shadow: black 1px 1px 1px;
}